(
    map_data: [
        Some((
            walkable: true,
            height: 1,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 1,
            step_type: Left,
        )),
        Some((
            walkable: true,
            height: 1,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 1,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 1,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: Left,
        )),
        Some((
            walkable: true,
            height: 1,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 1,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 1,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 1,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 1,
            step_type: Right,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: Right,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        Some((
            walkable: true,
            height: 0,
            step_type: r#None,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 1,
            step_type: r#None,
        )),
    ],
    width: 19,
    height: 16,
    cell_size: 64.0,
)