(
    map_data: [
        Some((
            walkable: false,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 1,
            is_step: true,
        )),
        Some((
            walkable: true,
            height: 1,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 1,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 1,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 1,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        Some((
            walkable: true,
            height: 0,
            is_step: false,
        )),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some((
            walkable: false,
            height: 0,
            is_step: false,
        )),
    ],
    width: 19,
    height: 16,
    cell_size: 64.0,
)